.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 100vh;
}

.formWrapper {
    background: #282a36;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer {
    position: fixed;
    bottom: 0;
}

footer a {
    color: #4aee88;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.mainLabel {
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo {
    height: 80px;
    margin-bottom: 30px;
}

.inputBox {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-bottom: 14px;
    background: #eee;
    font-size: 16px;
    font-weight: bold;
}


.btn {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.joinBtn,
.leaveBtn {
    background: #4aed88;
    width: 100%;
    margin-left: auto;
}

.joinBtn:hover,
.leaveBtn:hover {
    background: #2b824c;
}

.createInfo {
    margin: 0 auto;
    margin-top: 20px;
}
.createNewBtn {
    color: #4aed88;
    text-decoration: none;
    border-bottom: 1px solid #4aed88;
    transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
    color: #368654;
    border-color: #368654;
}

.mainWrap {
    display: flex;
    max-height: 100vh;
}

.aside {
    width: 230px;
    height: 100vh;
    background: #171822;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.asideInner{
    height: 100%;
    position: relative;
}

.contentWrapper{
    height: 70%;
    display: flex;
    flex: 1;    
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}
.buttonWrapper{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
}

.clientsList {
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
    gap: 25px;
    flex: 1;
    scroll-behavior: smooth;
}

.clientsList::-webkit-scrollbar{
    display: none;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}
.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 10px;
}
.logoImage {
    height: 60px;
}
.leaveBtn {
    width: 100%;
    margin-top: 20px;
}
.run-btn{
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.editorWrap{
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    position: relative;
}
.CodeMirror {
    flex: 1;
    font-size: 16px;
    line-height: 1.3;
    padding: 5px 0;
    scroll-behavior: smooth;
}
.CodeMirror::-webkit-scrollbar{
    visibility: hidden;
}
.teminal-layout{
    display: flex;
    flex-direction: column;
}
.terminal {
    flex: 1;
    width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.4;
    box-sizing: border-box;
    border: 1px solid #444;
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: auto;
}
.terminal:active{
    cursor: text;
}

.output {
    height: 100%;
    padding: 7px;
    color: #fff;
    overflow: auto;
    font-size: 14px;
    scroll-behavior: smooth;
}

.output::-webkit-scrollbar {
    visibility: hidden;
}
.output-error{
    color: red;
}
.output-success{
    color: #66d9ef;
}
.prompt-success {
    color: #0f0;
    font-weight: 550;
}
.prompt-error{
    font-weight: 550;
}
.editor-file-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.file-name{
    color: #fff;
    margin-left: 20px;
}