@import "tailwindcss";

*{
    overflow: hidden;
}

.output {
    scroll-behavior: smooth;
}
.output::-webkit-scrollbar {
    visibility: hidden;
} 

.terminal {
    font-family: 'Courier New', Courier, monospace;
}
.terminal:active{
    cursor: text;
}
 
.CodeMirror {
    scroll-behavior: smooth;
}
.CodeMirror::-webkit-scrollbar{
    visibility: hidden;
}

.clientsList {
    scroll-behavior: smooth;
}

.clientsList::-webkit-scrollbar{
    display: none;
}

@layer base {
  :root {
        --radius: 0.5rem
    }
}