@import "tailwindcss";

.output {
    scroll-behavior: smooth;
}
.output::-webkit-scrollbar {
    visibility: hidden;
} 

.terminal {
    font-family: 'Courier New', Courier, monospace;
}
.terminal:active{
    cursor: text;
}

.CodeMirror {
    height: 100% !important;
    padding: 0;
    scroll-behavior: smooth;
}





.monaco-editor .cursor {
    display: block !important;
    width: 2px !important;
    background: white !important;
}

input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}




.message-box {
    scroll-behavior: smooth;
}

.message-box::-webkit-scrollbar{
    display: none;
}
.clientsList {
    scroll-behavior: smooth;
}

.clientsList::-webkit-scrollbar{
    display: none;
}

@layer base {
  :root {
        --radius: 0.5rem
    }
}